$dark-gray: rgb(88, 87, 85);
$min-item-height: 60px;

body {
  margin: 0px;
  height: max-content;
  width: max-content;
  display: flex;
  justify-content: left;

  align-items: flex-start;
  padding-left: 60vw;
  padding-top: 50vh;
  padding-right: 100vw;
  padding-bottom: 70vh;
  background-color: $dark-gray;
  overflow-y: scroll;
  overflow-x: scroll;
  color: lightgray;
  font-size: 24px;
}

.test-field {
  height: 100%;
  width: 100%;

  // background-color: rgb(88, 87, 85);
}

.window {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  padding-left: 20vw;
  padding-top: 60vh;
  padding-right: 60vw;
  padding-bottom: 60vh;
  background-color: $dark-gray;
}

////////////

.shape {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  min-height: 32px;
  width: 300px;
  inline-size: 300px;
  border-radius: 12px;
  border: none;
  box-shadow: -2px -2px 2px 0px rgb(109, 108, 105),
    2px 2px 2px 0px rgb(73, 72, 70), -1px -1px 1px 0px rgb(101, 109, 97),
    1px 1px 1px 0px rgb(81, 80, 77);
  background-color: rgb(88, 87, 85);
  border: 1px solid rgb(99, 98, 95);

  flex-wrap: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;

  display: grid;
  grid-template-columns: [input-s] 1fr [input-e];

  justify-items: flex-start;
  // padding-left: 25px;
  text-align: left;

  grid-column: item-s/item-e;
  grid-row: item-t/item-b;
  padding: 12px;

  &__focused {
    border: 1px solid rgb(225, 225, 225);
  }

  &__selected {
    border: 1px dashed rgb(225, 225, 225);
  }

  opacity: inherit;
}

.shape input {
  color: lightgray;
  background-color: transparent;
  width: 90%;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  outline: none;
  border: none;
  font-size: 24px;
  grid-column: input-s/input-e;
}

.list-item-symbol-container {
  grid-column: s/e;
  grid-row: opensymbol-t/opensymbol-b;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  border: none;
  // box-shadow: -2px -2px 2px 0px rgb(109, 108, 105),
  //   2px 2px 2px 0px rgb(73, 72, 70), -1px -1px 1px 0px rgb(101, 109, 97),
  //   1px 1px 1px 0px rgb(81, 80, 77);
  background-color: rgb(88, 87, 85);
  // border: 1px solid rgb(99, 98, 95);
  justify-self: flex-start;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand-line {
  width: 100%;
  height: 1px;
  grid-row: s/e;
  grid-column: line-t/line-b;
  // background-color: lightgray;
  box-shadow: -2px -2px 2px 0px rgb(109, 108, 105),
    2px 2px 2px 0px rgb(73, 72, 70), -1px -1px 1px 0px rgb(101, 109, 97),
    1px 1px 1px 0px rgb(81, 80, 77);
  justify-self: center;
  align-self: center;

  // grid-row: subset-t/subset-b;
  // grid-column: bullet-s/bullet-e;

  opacity: inherit;
}

.list-item-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  opacity: inherit;
}

.list-item-symbol * {
  color: lightgray;
}

.arrow {
  font-size: 30px;
  margin-bottom: -1px;
}

.circle {
  font-size: 12px;
  margin-bottom: 6px;
}

.closed {
  transform: none;
}

.open {
  transform: rotate(90deg);
}

// .diamond {
//   width: 12px;
//   height: 12px;
//   background-color: lightgray;
//   transform: rotate(45deg);
//   grid-column: bullet-s/bullet-e;
//   grid-row: item-t/item-b;
//   justify-self: center;
//   align-self: center;
// }

.container {
  display: grid;
  grid-template-columns: [status-s] minmax(60px, min-content) [status-e item-s] 400px [item-e];
  grid-template-rows: [item-t] minmax(48px, min-content) [item-b gap-t] 12px [gap-b subset-t] min-content [subset-b];
  grid-column: item-s/item-e;
  grid-row: subset-t/subset-b;
  column-gap: 2px;
  margin-top: 10px;

  opacity: inherit;
}

.status-bar-wrapper {
  display: grid;
  gap: 3px;
  grid-column: status-s/status-e;
  grid-row: item-t/subset-b;
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: [priority-t] 60px [priority-b line-t] 1fr [line-b];
}

.priority {
  grid-row: priority-t/priority-b;
  grid-column: s/e;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  font-size: 12px;
  // box-shadow: -2px -2px 2px 0px rgb(109, 108, 105),
  //   2px 2px 2px 0px rgb(73, 72, 70), -1px -1px 1px 0px rgb(101, 109, 97),
  //   1px 1px 1px 0px rgb(81, 80, 77);
  // background-color: rgb(88, 87, 85);
  border: 1px solid grey;
  align-self: center;
  justify-self: center;
  text-align: center;
  line-height: 30px;
  color: lightgray;
  z-index: 2;
}

.priority:hover {
  border: 1px solid white;
}

.priority-text {
  grid-row: priority-t/priority-b;
  grid-column: s/e;
  font-size: 12px;
  align-self: center;
  justify-self: center;
}

.with-children {
  border-radius: 30px 30px 0px 30px;
  transform: rotate(45deg);
}

.priority-text * {
  font-size: 12px;
}
.line-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: [s] auto [e];
  grid-template-rows: [line-t] 1fr [line-b];
  grid-row: line-t/line-b;
  grid-column: s/e;
  width: 100%;
  height: 100%;
  padding-top: 6px;
}
.line {
  width: 1px;
  height: calc(100% - 15px);
  // grid-row: /e;
  // grid-column: line-t/line-b;
  // background-color: lightgray;
  box-shadow: -2px -2px 2px 0px rgb(109, 108, 105),
    2px 2px 2px 0px rgb(73, 72, 70), -1px -1px 1px 0px rgb(101, 109, 97),
    1px 1px 1px 0px rgb(81, 80, 77);
  justify-self: center;
  align-self: flex-start;

  // grid-row: subset-t/subset-b;
  // grid-column: bullet-s/bullet-e;

  opacity: inherit;
}

.item-rows {
  grid-column: item-s/item-e;
  grid-row: subset-t/subset-b;
  opacity: inherit;
  // transition: opacity 0.15s, height 0.15s 0.15s;

  &__closed {
    height: 0px;
    opacity: 0;
    transition: opacity 0.1s, height 0.1s 0.1s;
  }

  // &__faded {
  // }

  &__open {
    height: min-content;
    opacity: 1;

    transition: opacity 0.1s, height 0.1s;
  }
}

.item-rows > * {
  opacity: inherit;
  transition: inherit;
}

// .item-rows__closed > * {
//   height: 0px;
// }

.action-menu-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  z-index: 1;
}

.action-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 60px;
  justify-content: space-evenly;
  left: 0px;
  height: 50vh;
  border-right: solid 1px rgb(75, 75, 75);
  background-color: $dark-gray;
  z-index: 3;
}

.secondary-menu {
  position: fixed;
  height: 100vh;
  width: 300px;
  top: 0;
  left: 60px;
  background-color: cadetblue;
  z-index: 10;
}

.list-actions {
  top: 50vh;
}

.general-actions {
  top: 0;
}

.icon-button {
  font-size: 1.25rem;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
}

.icon-button button {
  font-size: 1.25rem;
  outline: none;
  border: none;
  color: white;
  width: 100%;
  height: 60px;
  background-color: $dark-gray;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.icon-button-text {
  width: max-content;
  position: absolute;
  visibility: hidden;
  transform: translateX(75px);
  color: lightgray;
}

.icon-button-selected {
  font-size: 1.25rem;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.icon-button-selected button {
  font-size: 1.25rem;
  outline: none;
  border: none;
  color: $dark-gray;
  width: 100%;
  height: 60px;
  background-color: white;
}

.icon-button-text {
  width: max-content;
  position: absolute;
  visibility: hidden;
  transform: translateX(75px);
  color: $dark-gray;
}

.icon-button:hover .icon-button-text {
  visibility: visible;
}
